.editor-panel {
  display: flex;
  flex-direction: column;
  background: var(--bg-main);
  border-right: 2px solid #252535;
  color: var(--text);
  height: 100%;
}


.editor-panel.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-muted);
  font-size: 1rem;
  padding: 2rem;
}

.editor-header {
  background: var(--bg-panel);
  padding: 0.6rem 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: var(--accent);
  border-bottom: 1px solid #333;
  justify-content: space-between;
}

.editor-header span {
  display: flex;
  align-items: center;
  gap: 6px;
}

.code-area {
  flex: 1;
  background: #1b1b2d;
  color: var(--text);
  font-family: var(--font-code);
  font-size: 0.95rem;
  padding: 1rem;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}

.editor-action-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.run-btn,
.save-code-btn {
  background-color: var(--accent);
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: auto;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.run-btn:hover {
  background-color: #0daeda;
}

.editor-fullWidth {
  width: 100%;
  display: flex;
}

.editor-halfWidth {
  width: 50%;
  display: flex;
}

.editor-menu-btn{
  display: none;
}

@media (max-width:1400px) {
  .editor-panel {
    width: 100% !important;
    height: 50%;
    flex: none;
    display: flex;
    flex-direction: column;
  }
  .editor-width-control-btns{
    display: none;
  }
}

@media (max-width:1024px){
  .editor-menu-btn{
    padding: 5px 10px;
    border-radius: 10px;
    left: 15px;
    top: 15px;
    display: flex;
    cursor: pointer;
    color: var(--accent);
    font-weight: 700;
  }
}