.navbar {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 50px;
    background-color: var(--bg-panel);
    border-bottom: 1px solid var(--text-muted);
}

.logo{
    width: 190px;
    height: auto;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navlinks a{
    color: var(--text);
}

.hide{
    display: none;
}
