.navbar {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    padding: 0 100px;
    background-color: var(--bg-panel);
}

.logo{
    width: 190px;
    height: auto;
}

.logo img{
    width: 100%;
    height: auto;
}

.navlinks{
    display: flex;
    align-items: center;
    gap: 50px;
}

.navlinks a{
    color: var(--text);
}

.hide{
    display: none;
}
